.headerContainer {
  background-color: bisque;
  height: 5rem;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #0f4d41;
}

.headerItems {
  display: flex;
  align-items: center;
  text-justify: center;
  justify-content: center;
  width: 28rem;
  column-gap: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  padding-top: 0.5rem;
}

.logo {
  width: 3rem;
}

.brand {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  color: #0f4d41;
  text-decoration: none;
  margin-left: 0.5rem;
}